# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Backend ------------------------------------------------------------------------------

## IntelliJ IDEA
backend/visseModas/.idea
backend/visseModas/*.iws
backend/visseModas/*.iml
backend/visseModas/*.ipr

## VS Code
backend/visseModas/.vscode

## NetBeans
backend/visseModas/nbproject/private/
backend/visseModas/nbbuild/
backend/visseModas/dist/
backend/visseModas/nbdist/
backend/visseModas/.nb-gradle/
backend/visseModas/build/
backend/visseModas/!**/src/main/**/build/
backend/visseModas/!**/src/test/**/build/

backend/visseModas/target/
backend/visseModas/!.mvn/wrapper/maven-wrapper.jar
backend/visseModas/!**/src/main/**/target/
backend/visseModas/!**/src/test/**/target/

backend/visseModas/.apt_generated
backend/visseModas/.classpath
backend/visseModas/.factorypath
backend/visseModas/.project
backend/visseModas/.settings
backend/visseModas/.springBeans
backend/visseModas/.sts4-cache

