<nav class="navbar navbar-light bg-black text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <img id="logo" src="assets/vetores/Logotipo.svg" alt="VisseModas" />
    </a>

    <div class="m-3 icons">
      <a href="add-endereco"
        ><img
          id="user"
          src="assets/vetores/Ícone_cliente_(branco).svg"
          alt="Usuário"
        /><span id="cadastrarCliente">Cliente</span></a
      >

      <a href="carrinho"
        ><img src="assets/vetores/Sacolinha.svg" alt="Sacolinha"
      /></a>
    </div>
  </div>
</nav>
