nav{
    background-color: #d26e56 !important;
    background-image: url(../../../../assets/vetores/Navbar.svg);
    background-size: cover;
}

img{
    padding: 0;
    margin: 0;
    border: none;
    height: 5rem;
    background-size: cover;
}


a, nav {
    padding: 0;
}