/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: lovelo;
  src: url(./fonts/Lovelo_Black.otf) format("opentype");
}

* {
  font-family: "lovelo";
}

th {
  text-transform: capitalize;
}
