<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body">
            <img
              class="user"
              src="../../../../assets/vetores/User_protótipo.svg"
              alt="User"
            />
            <br />
            <h5 class="title">{{ title }} cadastro</h5>
            <form
              class="mt-3"
              [formGroup]="clienteForm"
              (ngSubmit)="addCliente()"
            >
              <!-- NOME -->
              <div class="mt-3">
                <div class="col-16">
                  <label class="form-label" for="inputNome">
                    Nome completo
                  </label>
                  <input
                    type="text"
                    formControlName="nome"
                    type="text"
                    class="form-control"
                    id="inputNome"
                    placeholder="Nome completo"
                  />
                  <div
                    class="text-danger"
                    *ngIf="
                      clienteForm.get('nome')?.hasError('required') &&
                      clienteForm.get('nome')?.touched
                    "
                  >
                    <span>Campo obrigatório</span>
                  </div>
                </div>
              </div>
              <br />
  
              <!-- TIPO CLIENTE -->
              <div class="form-group">
                <label class="tipo">tipo</label>
                <div class="form-check">
                  <label class="form-check-label padrao" for="inputTipoPessoa">
                    pessoa física
                  </label>
                  <input
                    #tipoPessoa
                    (change)="handleTipoCliente(tipoPessoa.checked)"
                    formControlName="tipoCliente"
                    class="form-check-input"
                    type="checkbox"
                    id="inputTipoPessoa"
                  />
                </div>
                <!-- <div class="form-check">
                  <label class="form-check-label padrao" for="inputJuridica">
                    pessoa jurídica
                  </label>
                  <input
                    #cnpj
                    formControlName="cnpj"
                    class="form-check-input"
                    type="radio"
                    id="inputJuridica"
                    value="JURIDICA"
                  />
                </div> -->
              </div>
  
              <br />
              <!-- DOCUMENTO -->
              <div class="col-6">
                <!-- CPF -->
                <div *ngIf="tipoPessoa.checked">
                  <label class="form-label" for="inputCpf"> CPF </label>
                  <input
                    type="text"
                    formControlName="cpf"
                    type="text"
                    class="form-control"
                    id="inputCpf"
                    placeholder="Digite os números do CPF"
                    mask="000.000.000-00"
                  />
                  <!--
                    TODO: fix the not exhibition of the bellow div
                  -->
                  <div
                    class="text-danger"
                    *ngIf="
                      clienteForm.get('cpf')?.hasError('required') &&
                      clienteForm.get('cpf')?.touched
                    "
                  >
                    <span>Campo obrigatório</span>
                  </div>
                </div>
                <!-- CNPJ -->
                <div *ngIf="!tipoPessoa.checked">
                  <label class="form-label" for="inputCnpj"> CNPJ </label>
                  <input
                    type="text"
                    formControlName="cnpj"
                    type="text"
                    class="form-control"
                    id="inputCnpj"
                    placeholder="Digite os números do CNPJ"
                    mask="00.000.000/0000-00"
                  />
                  <div
                    class="text-danger"
                    *ngIf="
                      clienteForm.get('cnpj')?.hasError('required') &&
                      clienteForm.get('cnpj')?.touched
                    "
                  >
                    <span>Campo obrigatório</span>
                  </div>
                </div>
              </div>
              <!-- BOTÕES -->
              <div class="mt-5 mb-3">
                <button routerLink="" class="btn btn-secondary">Voltar</button>
                <button
                  [disabled]="!clienteForm.invalid"
                  type="submit"
                  class="btn btn-secondary float-end"
                >
                  {{ btn_text }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>