<div class="container mt-5">
  <div class="row">
    <div class="cards" *ngIf="listaProdutos.length > 0">
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let produto of listaProdutos"
      >
        <img
          src="{{ produto.imagem }}"
          alt="{{ produto.descricao }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ produto.descricao }}</h5>
          <p class="card-text">tamanho: {{ produto.tamanho }}</p>
          <p class="card-text">{{ produto.valorUnitario | currency: "BRL" }}</p>
          <button href="#" class="btn btn-primary" (click)="addToCart(produto)">
            Adicionar à sacola
          </button>
        </div>
      </div>
      
      <h5 class="mt-3 text-danger" *ngIf="listaProdutos.length == 0">
        Não há produtos cadastrados
      </h5>
    </div>
  </div>
</div>
